*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* СБРОС СТИЛЕЙ ИНПУТА ФОРМЫ ДЛЯ ПРЕДСКАЗУЕМОГО ОТОБРАЖЕНИЯ ВО ВСЕХ БРАУЗЕРАХ */
label {
  appearance: none;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

/* НАЧАЛО СТИЛЕЙ КОЛОНКИ С ВЫБОРОМ ГОРОДА */
.content__details {
  height: 534px;
  width: 399px;
}

/* ЗАГОЛОВОК КОЛОНКИ С ВЫБОРОМ ГОРОДА */
.title {
  margin-bottom: 22px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84, 80, 80, 1);
}

/* КОНТЕЙНЕРА С ТЕМПЛЕЙТАМИ КАРТИНОК И ТЕКСТА */

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 399px;
  height: 289px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 390px;
}

.content__list-item {
  padding: 0 3px;
  width: 390px;
}

.content__list-item:first-child {
  padding-top: 3px;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid white;
}

/* КОНТЕЙНЕР КАРТОЧКИ С ТЕКСТОМ И КАРТИНКОЙ */
.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 390px;
}

/* КОНТЕЙНЕР С ТЕКСТОМ И ЗАГОЛОВКОМ КАРТОЧКИ */
.content__video-card-description-container {
  width: 196px;
  height: 100%;
}

/* ЗАГОЛОВОК ДЛЯ КАРТОЧЕК */
.content__video-card-title {
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1;
}

/* ПАРАГРАФ КАРТОЧЕК */
.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  line-height: 16.2px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

/* КОНТЕЙНЕР С КАРТИНКОЙ */
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__card-link {
  display: block;
  color: white;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  /*
  text-underline-offset: 1px; */
}

.content__card-link_current {
  background: rgba(84, 80, 80, 1);
}

.content__card-link:active {
  text-decoration: none;
  background: rgba(84, 80, 80, 1);
}

/* НАЧАЛО СТИЛЕЙ ОКНА С ВИДЕО */
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  object-position: center;
}

/* СТИЛИ ДЛЯ ФОРМЫ */

.search-form {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  border: none;
}

.search-form__fieldset--width {
  width:225px;
}

.search-form__textfield--width {
  width:100%;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:hover:not(:has(.search-form__textfield)) {
  text-decoration: underline;
  cursor: pointer;
}

/* СТИЛИ ДЛЯ ПОИСКА */
.search-form__textfield {
  border-color: white;
  border-right: none;
  border-left: none;
  color: white;
  background-color: transparent;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  width: fit-content;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  
}

/* ЧЕКБОКСЫ */
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__fieldset-title,
.search-form__label-text,
.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* НАЧАЛО СТИЛЕЙ ДЛЯ КНОПОК */
.button {
  border: 1px solid white;
  padding: 6px 0;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

/* КНОПКА ДЛЯ ПОИСКА */
.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background: rgba(84, 80, 80, 1);
}

.more-button {
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
